<h1>Show Actor</h1>

     <p>
       Name: <%= @actor.name %><br />
     </p>
     <p>
       Phone: <%= @actor.phone %><br />
     </p>
     <p>
       Salary: <%= @actor.salary%> <br/>
     </p>

   <%= link_to 'Back', actors_path %>
